doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css" type="text/css")
    link(rel="stylesheet", href="/css/enroll_style.css" type="text/css")
    public/css/enroll_style.css
    script(src="/js/functions.js", type="application/javascript")
    script(src="//typingdna.com/scripts/typingdna.js?v2.8")
    script.
      session_id = '#{sid}';
  body
  div.container(style={"padding":"0"})
    include ./flash
    if(!finish)
        .card.center
            div.step(id="collect", style={"display":"inline", "opacity":1})
                p
                    if step ===  1
                        b Enrolling new user step 1 of 2: Please type the text below
                    else
                        b Enrolling new user step 2/2: Please type one more text
                p
                    span.highlighted(id="pAH")
                    span(id="pA")
                p
                    small
                        b Author:&nbsp
                        span(style={"color":"#999"}) #{author}
                br
                .textarea
                    textarea.form-control(rows="4", cols="100", id="inputtextbox", name="inputtextbox", oncopy="return false", onpaste="return false", onkeyup="highlight('pAH','pA', this)", placeholder="Type the text loaded above")
                br
                form(method='POST', onsubmit='return enroll(this)')
                    input(type="hidden" name="session_id", value=sid)
                    input(type="hidden" name="tp")
                    div.btn.vcenter(style={"top":"70%"})
                        input.btn-colors.btn-s.disabled(value="Next", id="btn_next", type="submit")
    else
        .card.center
            div.step(id="finish", style={"display":"inline", "opacity":1})
                .vcenter(style={"top":"100px"})
                    h3 Done
                div.message.vcenter(style={"top":"170px"})
                    p The user is now enrolled
                div.btn.vcenter(style={"top":"260px"})
                    input(value="Start again", type="submit", onclick="restart()")
    //Loading
    //- div.step(id="step_loading")
    //-     br
    //-     p Loading...
    if(!finish)
      script.
          tdna = new TypingDNA(); /** creates an instance of the TypingDNA typing pattern recording class */
          tdna.start(); /** starts the recording of a new typing pattern, will call tdna.reset() to reset later */
          var tp = ''; /** the typing pattern String variable to be recorded and to be sent to the server/API */
          var currentQuote = ''; /** the text to be typed at a each step, to be set independently */
          var nextFunction; /** a proxy for the next function in chain */

          /*****************************************************
           * shows the first step of enrollment (1 of 2),
           * self executed at start
           *****************************************************/
          (function() {
              currentTypeArea = document.getElementById('inputtextbox');
              currentQuote = '!{currentQuote.replace(/'/g, "\\'")}';
              highlight('pAH', 'pA');
              currentTypeArea.focus();
              nextFunction = enroll;
              /** sets the next function */
          })();

          /*****************************************************
           * called after finishing the second learning step;
           * if second text is ok, shows the finish page;
           *****************************************************/
          function enroll(form) {
              if(!form) {
                  return false;
              }
              if(fastCompareTexts(document.getElementById("inputtextbox").value, currentQuote) > 0.7) {
                  /** at least 70% of the words should be typed correctly */
                  var tp = tdna.getTypingPattern({type:1, extended:true, length:300});
                  if(tdna.isMobile() && TypingDNA.checkMobileValidity(tp) < 0.7) {
                      swapContent('collect', 'mobile');
                      return false;
                  }
                  swapContent('collect', 'step_loading', function() {
                      currentTypeArea.blur();
                      /** removes focus */
                      currentQuote = "";
                  });
                  form.tp.value = tp;
                  return true;
              } else {
                  alert('Too many typos, please re-type');
                  return false
              }
          }

          /** checks if Enter is pressed on text forms and calls the next function */
          initControls();
